# Ігнорувати bak-файли
*.bak
# Ігнорувати html-файли
*.html
# Ігнорувати dep-файли середовища розробки
*.dep
# Ігнорувати my.bat
my.bat
# Ігнорувати *.txt
*.txt
# Ігнорувати *.pdf
my.pdf
# Ігнорувати *.docx
*.docx
# Ігнорувати *.pub
*.pub
# Ігнорувати *.png
*.png
# Ігнорувати *.ses
*.ses
# Ігнорувати *.pnproj
*.pnproj
# Ігнорувати *.pnws
*.pnws
# Ігнорувати *.log
*.log

# Ігнорувати файли з папки settings/
settings/
# Ігнорувати файли з папки settings_1/
settings_1/
# Ігнорувати файли з папки ici1/
ici1/
# Ігнорувати файли з папки emW/
emW/
# Ігнорувати файли з папки emW_v520c/
emW_v520c/

# Ігнорувати файли з папки Bs9g45_sram/
Bs9g45_sram/
# Ігнорувати файли з папки Bs_G45_ddr/
Bs_G45_ddr/
# Ігнорувати файли з папки Bs9g45_flash/
Bs9g45_flash/
# Ігнорувати файли з папки EWP/Debug/List/
EWP/Debug/List/
# Ігнорувати файли з папки EWP/Debug/Obj/
EWP/Debug/Obj/

# Ігнорувати файли з папки EWP/
EWP/*.*
# Але залишити EWP/*.ewd
!EWP/*.ewd
# Але залишити EWP/*.ewp
!EWP/*.ewp
# Але залишити EWP/*.ewt
!EWP/*.ewt
# Але залишити EWP/*.jflash
!EWP/*.jflash
# Але залишити EWP/*.icf
!EWP/*.icf
# Але залишити EWP/*.mac
!EWP/*.mac
