# Ігнорувати bak-файли
*.bak
# Ігнорувати html-файли
*.html
# Ігнорувати dep-файли середовища розробки
*.dep
# Ігнорувати my.bat
my.bat
# Ігнорувати *.txt
*.txt
# Ігнорувати *.pdf
my.pdf
# Ігнорувати *.docx
*.docx
# Ігнорувати *.pub
*.pub
# Ігнорувати *.png
*.png
# Ігнорувати *.ses
*.ses
# Ігнорувати *.pnproj
*.pnproj
# Ігнорувати *.pnws
*.pnws
# Ігнорувати *.log
*.log

# Ігнорувати файли з папки settings/
settings/
# Ігнорувати файли з папки settings_1/
settings_1/
# Ігнорувати файли з папки ici1/
ici1/
# Ігнорувати файли з папки emW/
emW/
# Ігнорувати файли з папки emW_v520c/
emW_v520c/

# Ігнорувати файли з папки Bs9g45_sram/
Bs9g45_sram/
# Ігнорувати файли з папки Bs_G45_ddr/
Bs_G45_ddr/
# Ігнорувати файли з папки Bs9g45_flash/
Bs9g45_flash/
# Ігнорувати файли з папки EWP_7502/Debug/List/
EWP_7502/Debug/List/
# Ігнорувати файли з папки EWP_7502/Debug/Obj/
EWP_7502/Debug/Obj/

# Ігнорувати файли з папки EWP_7402/
EWP_7402/*.*
# Ігнорувати файли з папки EWP_7502/
EWP_7502/*.*
# Ігнорувати файли з папки EWP_7601/
EWP_7601/*.*

# Але залишити EWP_7402/BsG45_I7402.eww
!EWP_7402/BsG45_I7402.eww
# Але залишити EWP_7402/*.ewd
!EWP_7402/*.ewd
# Але залишити EWP_7402/*.ewp
!EWP_7402/*.ewp
# Але залишити EWP_7402/*.ewt
!EWP_7402/*.ewt
# Але залишити EWP_7402/*.jflash
!EWP_7402/*.jflash
# Але залишити EWP_7402/*.icf
!EWP_7402/*.icf
# Але залишити EWP_7402/*.mac
!EWP_7402/*.mac
# Ігнорувати файли з папки EWP_7402/Debug/List/
EWP_7402/Debug/List/
# Ігнорувати файли з папки EWP_7402/Debug/Obj/
EWP_7402/Debug/Obj/

# Але залишити EWP_7502/BsG45_I7502.eww
!EWP_7502/BsG45_I7502.eww
# Але залишити EWP_7502/*.ewd
!EWP_7502/*.ewd
# Але залишити EWP_7502/*.ewp
!EWP_7502/*.ewp
# Але залишити EWP_7502/*.ewt
!EWP_7502/*.ewt
# Але залишити EWP_7502/*.jflash
!EWP_7502/*.jflash
# Але залишити EWP_7502/*.icf
!EWP_7502/*.icf
# Але залишити EWP_7502/*.mac
!EWP_7502/*.mac
# Ігнорувати файли з папки EWP_7502/Debug/List/
EWP_7502/Debug/List/
# Ігнорувати файли з папки EWP_7502/Debug/Obj/
EWP_7502/Debug/Obj/


# Але залишити EWP_7601/*.ewd
!EWP_7601/*.ewd
# Але залишити EWP_7601/*.ewp
!EWP_7601/*.ewp
# Але залишити EWP_7601/*.ewt
!EWP_7601/*.ewt
# Але залишити EWP_7601/*.jflash
!EWP_7601/*.jflash
# Але залишити EWP_7601/*.icf
!EWP_7601/*.icf
# Але залишити EWP_7601/*.mac
!EWP_7601/*.mac
# Ігнорувати файли з папки EWP_7601/Debug/List/
EWP_7601/Debug/List/
# Ігнорувати файли з папки EWP_7601/Debug/Obj/
EWP_7601/Debug/Obj/
